$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;

html, body {
    height: 100%;
    background-image: url("../src/images/texture.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.form_styling {

    height: 100%;
    padding: 2%;

    &__requiredFieldText{
        color:#6f6f6f;
    }

    &__row{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        @media (max-width: $breakpoint-phone) {
            width:100%;
            display: flex;
            flex-direction: column;
            padding-bottom: 2%;
        }

    }

    &__column{

        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        padding-bottom: 2%;

        @media (max-width: $breakpoint-phone) {
            padding-bottom: 5%;
        }
    }

    &__columnRadioGroup{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }

    &__textBox{
        width: 95%;
        @media (max-width: $breakpoint-phone) {
            width:100%;
        }
    }

    &__selectBox{
        width: 30%;

        @media (max-width: $breakpoint-phone) {
            width:100%,
        }
    }

    &__icon{
        width: 35px !important;
        height: 35px !important;
        color:#07baf5;

        &:hover{
            color:#76388e !important;
        }
        
        &__checkIcon{
            width: 35px !important;
            height: 35px !important;
            color:#76388e;
        }

        &__iconError{
            width: 35px !important;
            height: 35px !important;
            color:red !important;
        }
    }

    &__button{
        width: 150px !important;
        background-color:white !important;
        margin-right: 15px !important;
        color:black !important;
        border-radius: 100px !important;

            &__center{
                @media (max-width: $breakpoint-phone) {
                    display: flex;
                    justify-content: center;
                }
            }

            &:hover{
                background-color: #76388e !important;
                color: white !important;
            }
    }

    &__menuItem{
        color: #000;
    }

    &__error{
        padding-bottom: 2%;
    }
    
}